name: build

on:
  push:
    branches:
      - main
    paths:
      - src/**

jobs:
  build:
    strategy:
      matrix:
        include:
          - { target: linux-64, os: ubuntu-latest }
          - { target: osx-arm64, os: macos-latest }
          - { target: linux-aarch64, os: ubuntu-24.04-arm }
      fail-fast: false

    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Checkout tlse
        uses: actions/checkout@v4
        with:
          repository: eduardsui/tlse
          # We don't NEED to nest the repo, but it helps for keeping the local build and workflow builds the same.
          # For the sake of the workflow, it can just be `tlse`.
          path: tlse/tlse

      - uses: prefix-dev/setup-pixi@v0.8.10
        with:
          pixi-version: v0.47.0

      - name: Build package for target platform
        env:
          TARGET_PLATFORM: ${{ matrix.target }}
          PREFIX_API_KEY: ${{ secrets.PREFIX_API_KEY }}
          CONDA_BLD_PATH: ${{ runner.workspace }}/.rattler

        run: |
          # Build and publish
          pixi run build
          pixi auth login prefix.dev --token "$PREFIX_API_KEY"
          pixi run publish mojo-community
